:root {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Color Scheme */
  --main: #640707;
  --main-secondary: #56423e;
  --main-third: #bea6a1;
  --text-contrast: #fff;
  --main-white: #fff;
}

/* General Layout Settings */

html, body, #root {
  height: 100vh;
}

main {
  background-color: var(--main-secondary);
  color: var(--text-contrast);
  width: 100%;
}

/* Header (Nav) Settings */

.page-title {
  font-size: 2em;
  color: var(--main-third);
}

#nav-title{
  padding: 0 5px;
  color: var(--main);
  font-size: 2em;
  font-weight: 700;
  margin: 0 10px;
  text-decoration: none;
  transition-duration: .3s;
}

#nav-title:hover{
  color: var(--main-secondary);
}

#navbar img {
  margin-left: 15px;
}

nav {
  background-color: var(--main-third)
}

a.nav-link {
  color: var(--main);
  font-size: 1.15em;
}

a.nav-link.active {
  color: var(--main-white)!;
  font-size: 1.15em;
  font-weight: 500;
}

#navbarNavAltMarkup{
  margin-right: 30px;
}

/* Footer Settings */

footer {
  background-color: var(--main-third);
}

.svg-logo {
  width: 30px;
  height: 30px;
  margin: 15px 20px;
}
.avatar{
  width: 200px;
  height: 200px;
}

/* Project Settings */

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  margin: 10px;
  border: 1px solid var(--main);
}

.project img {
  width: 400px;
  height: 250px;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
  
.project:hover .overlay {
  opacity: 1;
}

.overlay a {
  color: white;
  margin: 5px;
  text-decoration: none;
}

.overlay a:hover {
  text-decoration: underline;
}

/* Contact Page */

#contact-form{
  max-height: 500px;
  border-radius: 10px;
  border: 3px solid var(--main-third);
  padding: 50px;
  background-color: rgba(100,7,7,0.24);
}

div input, div textarea {
  border-radius: 10px;
  margin-top: 10px;
}

#contact-btn-container{
  margin-top: 20px;
}

#contact-btn, #download-btn{
  color: var(--text-contrast);
  background-color: var(--main);
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

#contact-btn:hover, #download-btn:hover {
  color: var(--main);
  background-color: var(--main-white);
  border-radius: 10px;
}

#download-btn {
  margin-top: 20px;
}

/* Resume Settings */

#resume-container {

}
